@import "../../../visual/styles";

:host {
  .welcome {
    @include flex(column, center, center);
    height: 100%;
    width: 100%;
    color: $color-whitesmoke;
    letter-spacing: 1px;
    &__content {
      min-width: 360px;
      max-width: 360px;
      padding: $offset-52px;
      box-shadow: $box-shadow-light;
      border-radius: 12px;
      &_title {
        @include flex(column, flex-start, flex-start);
        font-weight: bold;
        width: 300px;
        gap: $offset-8px;
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        :nth-child(2) {
          font-size: $font-size-39px;
          align-self: center;
        }
        :last-child {
          align-self: flex-end;
        }
      }
      &_img {
        min-width: 100%;
        max-width: 100%;
      }
      &__lesson {
        min-width: 100%;
        max-width: 100%;
        &_topic {
          font-weight: bold;
          letter-spacing: 1px;
          font-size: $font-size-20px;
          margin: 0;
        }
        &_type {
          text-align: end;
          font-size: $font-size-13px;
          font-weight: bold;
          margin-right: -$offset-12px;
          span {
            color: $color-deep-purple;
            padding: $offset-4px $offset-12px;
            border-radius: 12px;
            box-shadow: $box-shadow-light;
          }
        }
        &_links {
          @include flex(row, center, space-between);
          margin-top: $offset-48px;
          width: 100%;
          a {
            width: 47.5%;
            height: 46px;
          }
        }
        &_go-to {
          background-color: $color-deep-purple;
          width: 100%;
          margin-top: $offset-16px;
          color: $color-whitesmoke;
          height: 46px;
        }
      }
    }
  }
}
