<h2 class="title" mat-dialog-title>{{ data.type | taskDialogTitle }}</h2>
<mat-dialog-content class="mat-typography">
  <form class="form" [formGroup]="taskForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        @for (option of TaskPrioritiesEnum | enumToArray; track option) {
          <mat-option [value]="option">{{ option | priority }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Assignee</mat-label>
      <mat-select formControlName="userId">
        @for (user of users$ | async; track user.id) {
          <mat-option [value]="user.id">{{ user.displayName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="form__assign">
      @if (data.type !== TaskDialogType.Read) {
        @if (user$ | async; as user) {
          @if (user.id) {
            @if (user.id !== taskForm.controls["userId"].value) {
              <button class="form__assign_btn" (click)="assignToMe()">
                assign to me
              </button>
            } @else {
              <button class="form__assign__assigned">
                <mat-icon class="form__assign__assigned_check">check</mat-icon>
                assigned to me
              </button>
            }
          }
        }
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" style="">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    *ngIf="data.type !== TaskDialogType.Read"
    mat-button
    cdkFocusInitial
    color="primary"
    (click)="data.type === TaskDialogType.Edit ? editTask() : createTask()"
  >
    {{ data.type | firstLetterUppercase }}
  </button>
</mat-dialog-actions>
