@import "../../../visual/styles";

:host {
  .login-page {
    @include flex(column, center, center);
    @include fixed-height(100vh);
    @include fixed-width(100vw);
    &__content {
      @include flex(column, center, center);
      box-shadow: $box-shadow-light;
      background-color: $color-white-default;
      border-radius: 12px;
      &__form-container {
        @include flex(column, flex-start, space-between);
        @include fixed-width(360px);
        padding: $offset-52px;
        height: 100%;
        &__btn-wrapper {
          margin: calc(-1 * $offset-16px) 0 $offset-16px calc(-1 * $offset-16px);
        }
        &_title {
          font-weight: bold;
          letter-spacing: 1px;
          margin-bottom: $offset-24px;
        }
        &__form {
          @include flex(column, center, center);
          min-width: 100%;
          &_input {
            min-width: 100%;
            box-sizing: border-box;
            margin-bottom: $offset-8px;
            mat-icon {
              cursor: pointer;
              &:hover {
                color: $color-deep-purple;
              }
            }
          }
          &_button {
            min-width: 100%;
            height: 46px;
            background-color: $color-deep-purple;
            color: $color-white-default;
            &:disabled {
              background-color: $color-grey;
              color: $color-grey-default;
            }
          }
        }
      }
    }
  }
}
