@import "styles/@styles";
@import "animations/@animations";
@import "mixins/@mixins";
@import "dimensions/@dimentions";

html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: $color-blue;
  background: $color-gradient-background-blue;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $color-black-90;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
div {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

::view-transition-old(root) {
  animation: exit 1s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
  animation: enter 1s ease 0s 1 normal forwards;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: $color-deep-purple !important;
}
