$offset-1px: 0.0625rem;
$offset-2px: 0.125rem;
$offset-4px: 0.25rem;
$offset-8px: 0.5rem;
$offset-12px: 0.75rem;
$offset-16px: 1rem;
$offset-20px: 1.25rem;
$offset-24px: 1.5rem;
$offset-28px: 1.75rem;
$offset-32px: 2rem;
$offset-36px: 2.25rem;
$offset-40px: 2.5rem;
$offset-44px: 2.75rem;
$offset-48px: 3rem;
$offset-52px: 3.25rem;
$offset-56px: 3.5rem;
$offset-60px: 3.75rem;
$offset-100px: 6.25rem;
